canvas {
  display: block;  
  background-color: hsl(0, 0%, 10%);
}

.row {
  display: inline; 
  /*or flex?*/
}

.row:after {
  display: table;
  clear: both;
}
 
.side {
  float: left;
  padding-right: 20px;
  /* border : 1px;
  border-style: solid; */
  height: inherit;
  flex: 1;  
}
  